<!DOCTYPE html>
<html ng-app = 'app'>

<head>
<script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.6.9/angular.min.js"></script>
<script>
var module = angular.module('app', [])

module.controller('testController', Timectrl);

function Timectrl($scope) {
    $scope.message ='';
    $scope.updatemessage = function () {
        $scope.message = "thank you for your intrest on  your mobile number is not registered with Stucred,please"
    }
}
</script>
</head>
<body>
        <h1 align="center"> WELCOME TO STUCRED </h1>
<div ng-controller ='testController'>
<!-- <form name="form">
    <input type="text" name="emailphone" ng-model="email" ng-pattern="/^([a-z][a-zA-Z0-9_]*(\.[a-zA-Z][a-zA-Z0-9_]*)?@[a-z][a-zA-Z-0-9]*\.[a-z]+(\.[a-z]+)?)$/" >
    <span ng-if="form.emailphone.$error.pattern">Enter correct email </span>
</form> -->

<form name="form">
    <input type="text" name="phoneNumber" ng-model="PHONE" ng-pattern="/^([7-9][0-9]{9})?$/" />
    <br/>
    <span ng-if="form.phoneNumber.$error.pattern">Enter correct phoneNumber </span>

    





</form>



<button ng-click = "updatemessage()">MESSAGE</button>

    <p> {{message}} </p>
    <p ng-bind="message"></p>
</div>
</body>
</html>